body{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:burlywood(0,0%,90%);
}
h1{
    font-size:4rem;
    font-family:'Airal',sans-serif;
    color:black(0,0%,25%);
}
#container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
    border:5px soild;
    border-radius:50px;
    background-color:rgb(224, 174, 199);
    text-shadow:2px 2px;
}
#display{
    font-size:5rem;
    font-family:monospace;
    font-weight:bold; 
    color:white(0,0%,30%);
    text-shadow:2px 2px 2px bisque(0,0%,0%,0.75);
    margin-bottom:25px;
}
#control button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin:5px;
    min-width:125px;
    border:none;
    border-radius:10px;
    cursor: pointer;
    color:white(23, 23, 21);
    transition:background-color 0.5s ease;
}
#startbtn{
    background-color:rgb(177, 226, 127)
}
#startbtn:hover{
    background-color:rgb(27, 232, 9);
}
#stopbtn{
    background-color: rgb(226, 116, 116)   
}
#stopbtn:hover{
    background-color:rgb(235, 34, 34)
}#Resetbtn{
    background-color:rgb(168, 168, 216)
}
#Resetbtn:hover{
    background-color:rgb(36, 174, 205);
}